---
import BaseHead from "../components/BaseHead.astro";
import BaseTail from "../components/BaseTail.astro";
import BootLine from "../components/BootLine.astro";
import logoImage from "../assets/images/logo.png"
import { Image } from 'astro:assets';
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

export async function getStaticPaths() {
    return [{ params: { boot: "boot" } }, { params: { boot: "skipboot" } }];
}

const { boot } = Astro.params;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            .homepage-main {
                width: 100vw;
                height: 100vh;
                max-width: 100vw;
                background-color: var(--bright-background-colour);
                padding: 0;
                container-name: main-container;
            }

            .homepage-main > * {
                margin: 1rem;
            }

            .logo {
                width: 10rem;
                height: 10rem;
                object-fit: contain;
            }

            h1 {
                font-size: 3rem;
                font-family: var(--font-day-poster-black);
            }

            @media (max-width: 35rem) {
                h1 {
                    font-size: 8cqw;
                }
            }

            .version {
                text-align: center;
                width: 100%;
                color: lightblue;
            }

            .aboutme {
                text-align: center;
                width: min(90vw, 50ch);
            }

            *::selection {
                color: var(--bright-background-colour);
                background-color: white;
            }
        </style>
    </head>
    <body class="crt-filter chromatic-aberration" style="overflow: hidden; height:100vh">
        <main style={{
            display: boot === "boot" ? "none" : "flex"
        }} class="homepage-main">
            <img src={logoImage.src} class="logo" />
            <div>
                <h1 style="margin:0">MostlyTurquoise</h1>
                <div class="version">v4.1.3b they/them</div>
            </div>
            <p class="aboutme">
                Hi, I'm MostlyTurquoise, a developer and musician from the UK. I
                enjoy embedded programming, self hosting, and open source
                software. My favourite languages are TypeScript and Rust.
            </p>
            <div class="linklist">
                <a href="/thoughts" data-content="Blog">Blog</a> | <a
                    href="https://github.com/MostlyTurquoise"
                    data-content="GitHub">GitHub</a
                >
            </div>
            <div style="height:10rem"></div>
        </main>
        {boot === "boot" && (
        <div id="animation">
            <BootLine delay={0}>Started Beans Service</BootLine>
            <BootLine delay={30}>Started Beans Service</BootLine>
            <BootLine delay={30}>Started Beans Service</BootLine>
            <BootLine delay={100}>Started Beans Service</BootLine>
            <BootLine delay={30}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={1000}>Started Beans Service</BootLine>
            <BootLine delay={300}>Started Beans Service</BootLine>
            <BootLine delay={230}>Started Beans Service</BootLine>
            <BootLine delay={130}>Started Beans Service</BootLine>
            <BootLine delay={200}>Started Beans Service</BootLine>
            <BootLine delay={90}>Started Beans Service</BootLine>
            <BootLine delay={60}>Started Beans Service</BootLine>
            <BootLine delay={30}>Started Beans Service</BootLine>
            <BootLine delay={10}>Started Beans Service</BootLine>
            <BootLine delay={10}>Started Beans Service</BootLine>
            <BootLine delay={10}>Started Beans Service</BootLine>
            <BootLine delay={15}>Started Beans Service</BootLine>
            <BootLine delay={100}>Started Beans Service</BootLine>
            <BootLine delay={100}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <BootLine delay={20}>Started Beans Service</BootLine>
            <script>
                const here = document.getElementById("animation")!;
                const it = (
                    here.children[Symbol.iterator]() as IteratorObject<
                        HTMLElement,
                        undefined,
                        unknown
                    >
                ).filter((el) => el.tagName == "PRE");
                let current: HTMLElement | undefined = it.next().value;
                onNext();
                function onNext(firstTime = false) {
                    if (!current) {
                        return;
                    }
                    current.style.display = "block";
                    current = it.next().value;
                    if (!current) {
                        document.querySelector("main")!.style.display = "flex";
                        return;
                    }
                    const delay = parseFloat(current.dataset.delay || "0");
                    setTimeout(onNext, delay);
                }

                const skipAnimation = (e: Event) => {
                    document.querySelector("main")!.style.display = "flex";
                };
                document.addEventListener("keydown", skipAnimation);
                document.addEventListener("click", skipAnimation);

                for(const link of document.querySelectorAll("a")){

                    link.addEventListener("click", (e)=>{
                        console.log("navigating...")
                        history.replaceState(null, "", "/skipboot")
                    })
                }
            </script>
        </div>)}
        <BaseTail />
    </body>
</html>
