---
interface Props {
    delay: number;
    mode?: number;
}

let { delay = 0, mode = 1 }: Props = Astro.props;
---

<style>
    .text {
        font-family: var(--font-decterm);
        margin: 0;
        line-height: auto;
        padding: 0;
    }
</style>
<pre
    class="text"
    style={{
        display: delay == 0 ? "block" : "none",
    }}
    data-delay={delay}>{mode == 0 
        && (<span>        </span>)}{mode == 1 
        && (<>[<span style={{ color: "lightgreen" }}>  OK  </span>]</>)}{mode == 2 
        && (<>[<span style={{ color: "orange" }}> TIME </span>]</>)}{mode == 3 
        && (<>[<span style={{ color: "red" }}>FAILED</span>]</>)} <slot />
</pre>
