---

---

<style>
    .text {
        font-family: "Courier New", Courier, monospace;
        margin: 0;
        line-height: auto;
    }
</style>
<pre
    class="text">[<span style={{ color: "lightgreen" }}>  OK  </span>] <slot /></pre>
