---
import { SITE_TITLE } from "../consts";
import NavLink from "./NavLink.astro";
---

<style>
    header {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /* background-color: var(--bright-background-colour); */
    }
    nav {
        font-size: 2rem;
        font-family: var(--font-brass-mono);
    }
</style>

<header>
    <nav>
        <NavLink href="/skipboot">Home</NavLink> |
        <NavLink href="/thoughts">Blog</NavLink>
    </nav>
</header>
